html {
    background: green;
}

/* * {
    outline: black solid;
} */

body {
    position: relative;
    width: 480px;
    margin: auto;
}

div {
    position: relative;
    float: left;
}

header {
    position: relative;
    height: 75px;
    width: 480px;
    background: pink;
}

aside {
    position: relative;
    height: 150px;
    width: 480px;
    background: coral;
}

footer {
    position: relative;
    float: left;
    height: 80px;
    width: 480px;
    background: purple;
}

p {
    position: absolute;
    top: 37%;
    left: 45%;
    font-size: 36pt;
}

@media only screen and (min-width: 768px) {
    html {
        background: orange;
    }

    body {
        width: 960px;
    }

    header {
        height: 100px;
        width: 960px;
        background: pink;

    }

    aside {
        height: 600px;
        width: 200px;
        float: left;
        background: coral;

    }

    footer {
        height: 150px;
        width: 760px;
        background: purple;
    }
}
