html {
    background: green;
}

* {
    outline: black solid;
}

body {
    position: relative;
    width: 480px;
    margin: auto;
}

div {
    position: relative;
    float: left;
}

header {
    position: relative;
    height: 75px;
    width: 480px;
    background-image: url(https://via.placeholder.com/480x75);
}

aside {
    position: relative;
    height: 150px;
    width: 480px;
    background-image: url(https://via.placeholder.com/480x150);
}

footer {
    position: relative;
    float: left;
    height: 80px;
    width: 480px;
    background-image: url(https://via.placeholder.com/480x80);
}

p {
    position: absolute;
    top: 37%;
    left: 45%;
    font-size: 36pt;
}

@media only screen and (min-width: 768px) {
    html {
        background: orange;
    }

    body {
        width: 960px;
    }

    header {
        height: 100px;
        width: 960px;
        background-image: url(https://via.placeholder.com/960x100);

    }

    aside {
        height: 600px;
        width: 200px;
        float: left;
        background-image: url(https://via.placeholder.com/200x600);

    }

    footer {
        height: 150px;
        width: 760px;
        background-image: url(https://via.placeholder.com/760x150);
    }
}
