.large {
    height: 150px;
    width: 480px;
}

div#c {
    background: olivedrab;
}

div#d {
    background: olive;
}

.small {
    height: 250px;
    width: 240px;
}

div#e {
    background: cyan;
}

div#f {
    background: skyblue;
}

div#g {
    background: steelblue;
}

div#h {
    background: blue;
}

.header-p {
    position: absolute;
    top: 13%;
    left: 45%;
}

.aside-p {
    position: absolute;
    top: 35%;
    left: 45%;
}

.footer-p {
    position: absolute;
    top: 25%;
    left: 48.5%;
}

@media only screen and (min-width: 768px) {
    .large {
        height: 200px;
        width: 380px;
        float: left;
    }

    .small {
        height: 250px;
        width: 190px;
        float: left;
    }

    .header-p {
        position: absolute;
        top: 25%;
        left: 50%;
    }
    
    .aside-p {
        position: absolute;
        top: 45%;
        left: 40%;
    }
    
    .footer-p {
        position: absolute;
        top: 35%;
        left: 48.5%;
    }

}





